<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
        <p>
                I'm a .NET developer with over 6 years of experience. I've maintained, developed and deployed many applications, web services and websites. 
                I have a knowledge of the entire technical process of delivering technical solutions to customers. I also have experience with Agile delivery and some experience with UX research.
                I currently work as a Software Engineer at Cint AB. I write clean, well-crafted, scalable code for Cint's market research platform.
        </p>
        <p>
                For more information, and to get in touch, checkout out my <a href="http://linkedin.com/in/{{ author.linkedin }}" target="_blank">LinkedIn</a> 
        </p>
        <p>
                I believe in the principles of agile software development, and that practices and approaches derived from them are the best ways we know of to develop software that meets our customers needs.
                I care about good software engineering practices like test driven development, behaviour driven development, domain driven design, SOLID object orientated code and continuous delivery.
                I'm care particularly about measuring and observing the things I make, and I think this is one of the most powerful tools we have for making good product decisions.
        </p>
        <p>
                This blog will address useful and interesting things I come across as a .NET developer, including things from both and technical and human side of this job.
        </p>
</div>