<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
        <p>
                I'm a .NET developer with over 6 years of experience. I've maintained, developed and deployed many applications, web services and websites. 
                I have a knowledge of the entire technical process of delivering technical solutions to customers. I also have experience with Agile delivery and some experience with UX research.
                I currently work as a Software Engineer at Cint AB. I write clean, well-crafted, scalable code for Cint's market research platform.
        </p>
        <p>
                For more information, and to get in touch, checkout out my <a href="http://linkedin.com/in/{{ author.linkedin }}" target="_blank">LinkedIn</a> 
        </p>
</div>